.nav-shop__blue-circle{
    position: relative;
    top:-10px;
    left:-2px;
    /*color: #0c84ff !important;*/
    background: #0c84ff;
    border-radius: 50%;
    font-size: 0.8rem !important;
    color: #ffffff !important;
    padding: 2px 5px;
}

.nav-shop__red-circle{
    position: relative;
    top:-10px;
    left:-2px;
    /*color: #0c84ff !important;*/
    background: #ff0c20;
    border-radius: 50%;
    font-size: 0.8rem !important;
    color: #ffffff !important;
    padding: 2px 5px;
}

/*
display: block;
float: none;
margin-right: 0px;
border-bottom: 1px solid #ededed;
margin-left: 0px;
transition: all 0.4s linear;

.nav-shop li:last-child {
    margin-left: 40px;
}


 */

.quantity{
    height:38px;
    width:60px;
    border:2px solid #384AEB;
    border-radius:3px;
}

.quantity_error{
    height:38px;
    width:60px;
    border:2px solid #dc3545;
    border-radius:3px;
}
.qty_col{
    position: relative;
}
.qty_error{
    position:absolute;
    z-index: 5;
    top:10px;
    left:0;
}
.btn-outline-blue{
    border:2px solid #384AEB;
    background:white;
    color:#384AEB;
    height:38px;
    width:38px;
    border-radius:3px;
    transition: .3s ease;
}
.btn-outline-blue:hover{
    background: #384AEB;
    color:white;
}
.toast_container{
    position: fixed;
    top:90px;
    right: 5px;
    width: 300px;
    z-index: 20;
    border-radius: 5px;
    padding:20px;
    display: flex;
    align-self: end;
}



.button_green {
    display: inline-block;
    border: 1px solid #3b8808;
    border-radius: 30px;
    font-weight: 500;
    padding: 12px 50px;
    background: #3b8808;
    color: #fff !important;
    transition: all .4s ease;
    cursor: pointer;
}

.button_green:hover{
    background: transparent;
    color:#000b16 !important;

}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
}


.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
    top: 1.2rem;
    width: 1.85rem;
    height: 1.85rem;
}

.checkbox-xl .custom-control-label {
    padding-top: 23px;
    padding-left: 10px;
}


