.nav-shop__blue-circle{
    position: relative;
    top:-10px;
    left:-2px;
    background: #0c84ff;
    border-radius: 50%;
    font-size: 0.8rem !important;
    color: #ffffff !important;
    padding: 2px 5px;
}

.nav-shop__red-circle{
    position: relative;
    top:-10px;
    left:-2px;
    background: #70181e;
    border-radius: 50%;
    font-size: 0.8rem !important;
    color: #ffffff !important;
    padding: 2px 5px;
}


.quantity{
    height:38px;
    width:60px;
    border:2px solid #384AEB;
    border-radius:3px;
}

.quantity_error{
    height:38px;
    width:60px;
    border:2px solid #dc3545;
    border-radius:3px;
}
.qty_col{
    position: relative;
}
.qty_error{
    position:absolute;
    z-index: 5;
    top:10px;
    left:0;
}
.btn-outline-blue{
    border:2px solid #384AEB;
    background:white;
    color:#384AEB;
    height:38px;
    width:38px;
    border-radius:3px;
    transition: .3s ease;
}
.btn-outline-blue:hover{
    background: #384AEB;
    color:white;
}
.toast_container{
    position: fixed;
    top:90px;
    right: 5px;
    width: 300px;
    z-index: 20;
    border-radius: 5px;
    padding:20px;
    display: flex;
    align-self: end;
}



.button_green {
    display: inline-block;
    border: 1px solid #3b8808;
    border-radius: 30px;
    font-weight: 500;
    padding: 12px 50px;
    background: #3b8808;
    color: #fff !important;
    transition: all .4s ease;
    cursor: pointer;
}

.button_green:hover{
    background: transparent;
    color:#000b16 !important;

}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 13px;
    padding-left: 6px;
}


.checkbox-xl .custom-control-label::before,
.checkbox-xl .custom-control-label::after {
    top: 1.2rem;
    width: 1.85rem;
    height: 1.85rem;
}

.checkbox-xl .custom-control-label {
    padding-top: 23px;
    padding-left: 10px;
}

/*/ for spinner /*/
.body_spinner{
    position: relative;
    overflow: hidden;
}
.spinner_loader {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-left: 16px solid gray;
    border-bottom: 16px solid red;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin_spinner 2s linear infinite;
}

@keyframes spin_spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.my_spinner_modal {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);

}
.my_spinner_inner {
    z-index: 1000;
    margin: 300px auto;
    padding: 0px;
    width: 130px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
/* end spinner css */

@media (max-width: 771px){
    .cart_item td{
        /*//padding: 5px 0 !important;*/
        padding:5px 5px 5px 0 !important;
    }

    .sm_flex_column{
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
    .sm_flex_column .btn_minus, .sm_flex_column .quantity{
        margin: 0 0 5px 0 !important;
    }
    .sm_flex_column .btn_plus{
        margin: 0 0 0 0 !important;
    }
    .table th{
        padding:5px 5px 5px 0 !important;

    }
    #xs_media span{
        display: none;
    }
    .table{
        margin-right: 0;
    }
}




